[submodule "lib/emacs"]
	path = lib/emacs
	url = git@github.com:johnbellone/emacs.git
[submodule "lib/zsh/git-prompt"]
	path = lib/zsh/git-prompt
	url = https://github.com/olivierverdier/zsh-git-prompt
[submodule "lib/vim"]
	path = lib/vim
	url = http://github.com/johnbellone/vim
